.spyderworkspace
.spyderproject
*.swp
*.csv
*.gz
*.zip
*.npy
__pycache__/
*.html
.idea/
*.pdf
*.tar
*.history
*.png
*.xlsx
.Rproj.user
plots/
rankings/
*.ipynb
.ipynb_checkpoints/
/.RData
/.Rhistory
/vi/
/legacy/
